.header {
  margin-top: 30px;
  .container {
    @include flex_center;
    justify-content: space-between;
    .logo {
      font-size: 32px;
      font-weight: 800;
      color: $white_title;
      text-transform: uppercase;

      span {
        color: $red_button;
      }
    }
    .nav {
      position: relative;
      @include flex_center;
      gap: 30px;
      a {
        color: $white_title;
        font-size: 14px;
        font-weight: 400;
        &:hover {
          cursor: pointer;
          color: $grey_title;
        }
      }
    }
  }
  .bg{
    background: url(../img/bg\ artistique.png);
    background-position: bottom left;
    position: absolute;
    top: 0;
    right: 0;
    height: 625px;
    width: 600px;
  }
}
