.section {
  .container {
    margin: 175px auto;
    @include flex_center;
    gap: 145px;
    .left-side {
      .img-container {
        margin-bottom: 30px;
        width: 570px;
        height: 570px;
        background: url(../img/image\ triangle.png) center/cover;
      }
    }
    .right-side {
      position: relative;
      gap: 30px;
      height: 570px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        color: $white_text;
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 32px;
      }
      h4 {
        font-family: "Barlow Condensed";
        font-size: 56px;
        color: $white_title;
        font-weight: 300;
        line-height: 64px;
      }
    }
    .lorem-paragraph {
      p {
        color: $white_title;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
      }
    }

    .lorem-second-paragraph {
      width: 100%;
      p {
        color: $white_text;
        font-weight: 400;
        line-height: 32px;
      }
    }

    .started {
      width: 152px;
      height: 43px;
      border-radius: 75px;
      border: none;
      background: $red_button;
      margin-right: 24px;
      a {
        color: $white_title;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.63px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    .round {
      height: 210px;
      width: 210px;
      border: 3px solid $round;
      border-radius: 200px;
      position: absolute;
      top: 106px;
      left: 245px;
    }
  }
}
