@import url("https://fonts.googleapis.com/css2?family=Allan&family=Barlow+Condensed:wght@400;500;600&family=Barlow:wght@400;500;600&family=Inter:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(237deg, #2c2d65 0.35%, #201f22 100%) fixed;
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.header {
  margin-top: 30px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .logo {
  font-size: 32px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
.header .container .logo span {
  color: hsl(355, 73%, 64%);
}
.header .container .nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header .container .nav a {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 400;
}
.header .container .nav a:hover {
  cursor: pointer;
  color: hsla(0, 0%, 100%, 0.5);
}
.header .bg {
  background: url(../img/bg\ artistique.png);
  background-position: bottom left;
  position: absolute;
  top: 0;
  right: 0;
  height: 625px;
  width: 600px;
  z-index: -1;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 164px;
}
.main .container .title-container {
  position: relative;
}
.main .container .title-container::after {
  content: url(../img/bg\ round.png);
  position: absolute;
  top: -45px;
  left: -43px;
  z-index: -1;
}
.main .container .title-container h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 2.88px;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  margin-bottom: 21px;
}
.main .container .title-container h2 {
  color: hsl(40, 79%, 56%);
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.main .container .title-container p {
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.72px;
}
.main .container .title-container button {
  height: 43px;
  width: 152px;
  border-radius: 75px;
  border: none;
  background: hsl(0, 0%, 100%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.main .container .title-container button a {
  color: hsl(0, 0%, 0%);
  font-size: 14px;
  letter-spacing: 0.63px;
  text-transform: uppercase;
}
.main .container .title-container button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.main .container .title-container .started {
  position: relative;
  background: hsl(355, 73%, 64%);
  margin-right: 24px;
}
.main .container .title-container .started a {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.63px;
}
.main .container .title-container .text-container {
  width: 35%;
  margin-bottom: 21px;
  position: relative;
}
.main .container .title-container .text-container .round {
  width: 184px;
  height: 181px;
  content: url(../img/bg\ multiples\ rounds.png);
  position: absolute;
  top: 51px;
  left: 288px;
  z-index: -1;
}

.section .container {
  margin: 175px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 145px;
}
.section .container .left-side .img-container {
  margin-bottom: 30px;
  width: 570px;
  height: 570px;
  background: url(../img/image\ triangle.png) center/cover;
}
.section .container .right-side {
  position: relative;
  gap: 30px;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section .container .right-side h3 {
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 32px;
}
.section .container .right-side h4 {
  font-family: "Barlow Condensed";
  font-size: 56px;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  line-height: 64px;
}
.section .container .lorem-paragraph p {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.section .container .lorem-second-paragraph {
  width: 100%;
}
.section .container .lorem-second-paragraph p {
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 400;
  line-height: 32px;
}
.section .container .started {
  width: 152px;
  height: 43px;
  border-radius: 75px;
  border: none;
  background: hsl(355, 73%, 64%);
  margin-right: 24px;
}
.section .container .started a {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.63px;
}
.section .container .started:hover {
  opacity: 0.7;
}
.section .container .round {
  height: 210px;
  width: 210px;
  border: 3px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 200px;
  position: absolute;
  top: 106px;
  left: 245px;
}

.section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-two .container {
  margin-top: -50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-two .container h2 {
  color: hsla(0, 0%, 100%, 0.5);
  line-height: 32px;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 16px;
}
.section-two .container h3 {
  color: hsl(0, 0%, 100%);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 16px;
}
.section-two .container .section-2-paragraph {
  text-align: center;
  width: 45%;
  margin-bottom: 70px;
}
.section-two .container .section-2-paragraph p {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  line-height: 32px;
}
.section-two .container .round-two {
  content: url(./../img/bg\ round.png);
  position: absolute;
  top: -16px;
  left: 311px;
  z-index: -1;
}

.section-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-three .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 113px;
}
.section-three .container .card {
  cursor: pointer;
}
.section-three .container .card p {
  width: 80%;
  margin-bottom: 20px;
  color: hsl(0, 0%, 100%);
  font-family: "Barlow Condensed";
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}
.section-three .container .card .date p {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  line-height: 32px;
}
.section-three .container .card .card-text {
  padding-left: 32px;
  padding-top: 38px;
  height: 192px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  background: -webkit-gradient(linear, left top, left bottom, from(#4d4f95), to(#2b2d66));
  background: linear-gradient(180deg, #4d4f95 0%, #2b2d66 100%);
  -webkit-box-shadow: 0px 24px 48px 0px rgba(0, 1, 44, 0.16);
          box-shadow: 0px 24px 48px 0px rgba(0, 1, 44, 0.16);
}
.section-three .container .card:hover {
  scale: 1.05;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.section-three .container .card:nth-child(1) .card-img {
  height: 240px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: url(../img/image-1.png) center/cover;
}
.section-three .container .card:nth-child(2) .card-img {
  height: 240px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: url(../img/image-2.png) center/cover;
}
.section-three .container .card:nth-child(3) .card-img {
  height: 240px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  background: url(../img/image-3.png) center/cover;
}

.section-four .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}
.section-four .container .section-logo h3 {
  color: hsl(0, 0%, 100%);
  font-size: 32px;
  font-weight: 800;
}
.section-four .container .section-logo h3 span {
  color: hsl(355, 73%, 64%);
}
.section-four .container .section-menu .nav-ul h5 {
  color: hsla(0, 0%, 100%, 0.5);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.section-four .container .section-menu .nav-ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.section-four .container .section-service .nav-ul-2 h5 {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 32px;
  margin-bottom: 20px;
}
.section-four .container .section-service .nav-ul-2 li a {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  line-height: 32px;
}
.section-four .container .section-social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.section-four .container .section-social .facebook {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background: hsl(245, 90%, 65%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-four .container .section-social .facebook a img {
  -o-object-fit: cover;
     object-fit: cover;
}
.section-four .container .section-social .facebook:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.section-four .container .section-social .twitter {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background: hsl(245, 90%, 65%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-four .container .section-social .twitter a img {
  -o-object-fit: cover;
     object-fit: cover;
}
.section-four .container .section-social .twitter:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.section-four .container .section-social .instagram {
  cursor: pointer;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background: hsl(245, 90%, 65%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-four .container .section-social .instagram a img {
  -o-object-fit: cover;
     object-fit: cover;
}
.section-four .container .section-social .instagram:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.section-four .container .section-social::after {
  content: "";
  height: 1px;
  width: 1000px;
  position: absolute;
  background: hsl(0, 0%, 100%);
  opacity: 0.0797;
  top: 240px;
  right: 0;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
}

.footer {
  margin-top: 40px;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 75px;
}
.footer .container .copyright {
  margin-left: 100px;
}
.footer .container .copyright p {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  line-height: 32px;
}
.footer .container .terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  gap: 40px;
}
.footer .container .terms p {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .header .container .nav li a {
    font-size: 25px;
  }
  .main .container .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .main .container .title-container .started {
    margin-left: 20px;
  }
  .section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .section .container .right-side {
    text-align: center;
    margin: 0 40px;
  }
  .section-three .container {
    margin: 0 40px;
  }
  .section-three .container .card p {
    font-size: 18px;
  }
  .section-four .container {
    margin: 40px 20px;
  }
}
@media screen and (max-width: 767px) {
  .header .container {
    gap: 40px;
  }
  .header .container .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .container .nav li a {
    font-size: 25px;
  }
  .main .container .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    text-align: center;
  }
  .main .container .title-container .round {
    display: none;
  }
  .main .container .title-container .started {
    margin-left: 20px;
  }
  .section .container {
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .section .container .left-side .img-container {
    scale: 0.7;
  }
  .section .container .right-side {
    text-align: center;
    margin: 0 40px;
  }
  .section .container .right-side .round {
    display: none;
  }
  .section-two .container .round-two {
    display: none;
  }
  .section-two .container h3 {
    text-align: center;
  }
  .section-three .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-three .container .card p {
    font-size: 18px;
  }
  .section-four .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-four .container .section-service {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .container .copyright {
    margin: 0 auto;
    text-align: center;
  }
  .footer .container .terms {
    margin: 20px auto;
  }
}/*# sourceMappingURL=index.css.map */